@import "../variables";
.header-container {
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
header {
    margin: 0 auto;
    padding: 1rem 1rem;
    h3, img, a, ul {
        margin: 0;
    }
    ul {
        margin-top: 0px; 
    }
    img {
        height: 80px;
        width: 100px;
    }
    li {
        margin-bottom: 0;
        a {
            color: $bg-color;
            &:hover {
                color: $bg-color;
                text-decoration: none;
                border-bottom: $bg-color solid 1px;
            }
        }
    }
}


